.video-card {
    max-width: 20rem;
}

.video-card .video-content-wrapper {
    display: flex;
    justify-content: space-between;
}
.video-card .video-content {
    display: flex;
}
.video-card .thumbnail-img {
    width: 100%;
}

.video-card-title {
    font-size: 0.9rem;
    font-weight: var(--fw--semi-bold-500);
    color: var(--clr-accent-one);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.creator-img {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
}
.creator-tag {
    font-size: 0.8rem;
    font-weight: var(--fw--semi-bold-500);
    color: var(--clr-accent-two);
}
.video-menu-btn {
    color: var(--clr-accent-one);
    position: relative;
}

.upload-date,
.video-count {
    font-size: 0.9rem;
    color: var(--clr-accent-one);
}
.dot::after {
    content: "•";
    margin: 0 6px;
}
