.user-form-wrapper {
    margin: 2rem auto;
    max-width: 32rem;
    width: 100%;
}
.user-form {
    width: 90%;
    margin: auto;
    border: 1px solid var(--clr-primary-faded);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-light);
    background-color: var(--clr-background);
    color: var(--clr-accent-one);
}
.user-form label {
    font-weight: var(--fw-bold-600);
    font-size: 0.8rem;
    background-color: var(--clr-background);
    color: var(--clr-accent-one);
}
.user-form input {
    background-color: var(--clr-background);
    color: var(--clr-accent-two);
}
.user-form input::placeholder {
    background-color: var(--clr-background);
    color: var(--clr-accent-two);
}
.user-form .form-actions button {
    width: 100%;
    margin: 0 0 var(--margin-sm) 0;
}
.user-form .form-actions .btn-solid-primary {
    color: var(--clr-background);
}
.user-form .form-error {
    color: var(--clr-error);
    font-weight: var(--fw-bold-600);
    padding: var(--padding-xs);
    font-size: 0.8rem;
}
.user-form .form-error i {
    margin-right: var(--margin-xs);
}
.user-form .input-toggle-wrapper {
    position: relative;
}
.user-form .input-toggle-btn {
    position: absolute;
    top: 6px;
    right: 8px;
    margin: 0;
}
.user-form #agree-to-label {
    display: flex;
}
.user-form .input-toggle-btn i {
    color: var(--clr-accent-two);
}
.user-form .form-actions button:active {
    transform: scale(0.99);
    transition: 0.1ms ease-in-out;
}
