.header-wrapper {
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0 auto;
    background-color: var(--clr-background);
    color: var(--clr-accent-one);
    box-shadow: var(--box-shadow-lightest);
    min-height: 4.5rem;
    z-index: var(--z-index-10);
}
.header .btn {
    padding: var(--padding-sm);
    font-size: 1rem;
}
.header-logo {
    color: var(--clr-accent-one);
    position: relative;
    font-size: var(--fs-large);
    font-weight: var(--fw-bold-600);
    cursor: pointer;
}

/* header-search-form */
.header-search-form {
    width: 25rem;
    background-color: var(--clr-background);
    color: var(--clr-accent-one);
    border: 1px solid var(--clr-grey-light);
    border-radius: var(--border-radius);
    overflow: hidden;
}
.header-search-form:focus-within {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.nav-search-mobile .header-search-form {
    width: 95%;
    margin: var(--margin-sm) auto;
}
.header-search-form input {
    flex: 1;
    background-color: var(--clr-background);
    color: var(--clr-accent-one);
    border: none;
}
.header-search-form input::placeholder {
    color: var(--clr-accent-two);
}
.header-search-form input:focus {
    outline: none;
}
.header-search-form button i {
    color: var(--clr-accent-one);
}
.nav-toggle-btn i {
    color: var(--clr-accent-one);
}
/*  */
.nav-toggle-btn,
.nav-search-mobile {
    display: none;
    display: none;
}
.header .theme-toggle-btn,
.header .user-profile-btn {
    width: 1.75rem;
    height: 1.75rem;
    transition: all 0.75s;
}
.theme-toggle-btn:active,
.user-profile-btn:active {
    transform: scale(0.92);
    transition: 0.1ms;
}
.theme-toggle-btn span,
.user-profile-btn span {
    font-size: 1.75rem;
}
.theme-toggle-btn.rotate {
    transform: rotate(180deg);
}

.header .avatar {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.9rem;
    color: var(--clr-background);
    text-transform: uppercase;
}
@media screen and (max-width: 900px) {
    .nav-search-web {
        display: none;
    }
    .nav-search-mobile {
        display: block;
    }
    .nav-toggle-btn {
        display: inline-block;
    }
}
