.sidebar-wrapper {
    height: 85vh;
    position: sticky;
    top: 5.5rem;
    left: 0;
    overflow-y: auto;
    background-color: var(--clr-background);
    padding-top: 0.5rem;
}
.sidebar {
    width: 100%;
    background-color: var(--clr-background);
    display: flex;
    flex-direction: column;
}

.sidebar-btn {
    text-align: justify;
    font-weight: var(--fw-bold-600);
    font-size: 1rem;
    color: var(--clr-accent-two);
}
.sidebar-btn:hover {
    color: var(--clr-accent-one);
}
.sidebar-btn.active {
    background-color: var(--clr-primary-faded);
    color: var(--clr-black);
}
.sidebar-btn:active {
    transform: scale(0.99);
    transition: 0.1s ease;
}

@media screen and (max-width: 950px) {
    .sidebar-wrapper {
        height: max-content;
        z-index: 15;
        position: fixed;
        bottom: 0;
        left: 0;
        top: unset;
        width: 100%;
        box-shadow: var(--box-shadow-heavy);
        padding: 0;
    }
    .App.dark .sidebar-wrapper {
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
    }
    .sidebar {
        flex-direction: row;
    }
    .sidebar-btn.home-btn {
        display: none;
    }
    .sidebar-btn {
        flex-grow: 1;
        display: flex;
        font-size: 0.9rem;
        flex-direction: column;
        margin: unset;
    }
    .sidebar-btn span {
        margin-bottom: 3px;
    }
}

@media screen and (max-width: 700px) {
    .sidebar-btn {
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }
}
